<!DOCTYPE HTML>
<html>
	<head>
		<title>Kadori - Karaoke Done Right</title>
		<link rel="stylesheet" type="text/css" href="./controller.css">
	</head>

	<body>
	<!-- icons must be inserted directly as there's currently no way for browsers to include an SVG file whose symbols can be referenced -->
	<div style="display: none"><%= include('/assets/icons.svg') %></div>

	<div id="root" class="flex-col">
		<div class="header flex-row flex-center" v-cloak>
			<svg class="icon-settings"
				:class="{ selected : visiblePane === 'settings' }"
				v-on:click="togglePane('settings')"
			>
				<use xlink:href="#bars-horizontal-three"></use>
			</svg>

			<div class="queue flex-grow flex-row flex-center" v-on:click="togglePane('queue')">
				Queued: {{ queued.length }}
			</div>

			<svg class="icon-search"
				:class="{ selected : visiblePane === 'search' }"
				v-on:click="togglePane('search')"
			>
				<use xlink:href="#search"></use>
			</svg>
		</div>

		<div class="contents flex-grow" v-cloak>
			<div class="queue flex-col flex-center">
				<div class="video-list flex-col flex-grow" v-if="queued.length">
					<draggable v-model="queued" :options="{ group: { name : 'videos', pull : false }, handle : 'img' }">
						<kadori-video
							v-for  = "video in queued"
							:key   = "video.videoID"
							:video = "video"
							v-on:action-left="removeFromQueue"
						>
							<template v-slot:action-left>
								<svg class="icon-remove"><use xlink:href="#plus"></use></svg>
							</template>
						</kadori-video>
					</draggable>
				</div>

				<div class="empty" v-if="queued.length === 0">
					<p>Your song queue is empty.</p>
					<p>Search for songs and add them to your queue.</p>
				</div>
			</div>

			<div class="settings"
				:class="{ visible : visiblePane === 'settings' }"
			>
				<div>{{ userName }}</div>
			</div>

			<div class="search flex-grow flex-col"
				:class="{ visible : visiblePane === 'search' }"
			>
				<input v-model="searchValue" placeholder="search for artist or song..." />
				<div class="video-list flex-col flex-grow">
					<kadori-video
						v-for  = "searchResult in searchResults"
						:key   = "searchResult.videoID"
						:video = "searchResult"
						v-on:action-left ="removeFromSearch"
						v-on:action-right="addToQueue"
					>
						<template v-slot:action-left>
							<svg class="icon-remove"><use xlink:href="#plus"></use></svg>
						</template>
						<template v-slot:action-right>
							<svg class="icon-add"><use xlink:href="#plus"></use></svg>
						</template>
					</kadori-video>
				</div>
			</div>
		</div>

		<div class="name-editor flex-col flex-center" v-if="isUserNameEditorVisible" v-cloak>
			<label>Hi, what is your name?</label>
			<input v-model.trim.lazy="userName" />
			<button :disabled="!userName" v-on:click="submitUserName">That's me</button>
		</div>

		<script type="module" src="/controller/controller"></script>
	</div>

	</body>
</html>
